@keyframes animateMain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: MarckScript;
  font-weight: 400;
  src: url("./fonts/MarckScript-Regular.ttf");
}
@font-face {
  font-family: RussoOne;
  font-weight: 400;
  src: url("./fonts/RussoOne-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

#start-loader {
  height: 10vw;
  width: 90vw;
  font-size: 8vw;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 5vh);
  left: calc(50% - 45vw);
}
#start-loader #start-loader__screen {
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  margin-left: 10vw;
}

#app-header {
  width: 98%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#app-header #app-header__photo {
  height: 18vh;
  width: 18vh;
  background-color: #E0E714;
  position: relative;
  transform: rotate(12deg);
}
#app-header #app-header__photo #app-header__photo-clip {
  height: 8vh;
  transform: rotate(5deg);
  position: absolute;
  left: 1vh;
  top: -1vh;
}
#app-header #app-header__photo #app-header__photo-photo {
  height: 15vh;
  margin-top: 1.5vh;
  margin-left: 3vh;
}
#app-header #app-header__main {
  height: 18vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app-header #app-header__main h1 {
  display: block;
  font-family: MarckScript;
  font-size: 8vh;
}
#app-header #app-header__main h3 {
  height: 4vh;
  padding: 0 1vh;
  font-size: 3vh;
}
#app-header #app-header__contacts {
  height: 18vh;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app-header #app-header__contacts h3 {
  height: 4vh;
  padding: 0 1vh;
  font-size: 3vh;
}
#app-header #app-header__contacts ul {
  list-style-type: none;
}
#app-header #app-header__contacts li {
  font-family: MarckScript;
  font-size: 2vh;
}
#app-header .stamp {
  display: block;
  font-family: RussoOne;
  color: #fff;
  background-color: #3498DB;
  text-decoration: underline;
}

#app-nav {
  margin-top: 2vh;
  min-height: 8vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#app-nav .app-nav__elem {
  height: 6vh;
  width: 18vw;
  background-color: #5D6D7E;
  border-left: 7px solid #000;
  border-radius: 0 10px 0 0;
  color: #fff;
  font-family: Roboto;
  font-size: 3vh;
  line-height: 6vh;
  text-align: left;
  margin-left: 1vw;
  padding-left: 1vw;
}
#app-nav .app-nav__elem:hover {
  cursor: pointer;
  background-color: #363FC3;
}
#app-nav .app-nav__elem_active {
  background-color: #363FC3;
  color: #E0E714;
}

#app-main {
  animation: 3s linear animateMain;
  min-height: 53vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#app-main .main-headers {
  font-family: RussoOne;
  font-size: 3vh;
  margin: 2vh 0;
  padding: 1vh;
  color: #fff;
  text-decoration: underline;
  background-color: #3498DB;
}
#app-main p {
  text-align: left;
  line-height: 4vh;
  font-family: Roboto;
  font-size: 2vh;
  display: block;
  width: 90%;
  margin: 1vh 0;
}
#app-main a {
  text-decoration: none;
  color: #fff;
  background-color: #3498DB;
  border-radius: 5px;
  padding: 0 5px;
}
#app-main a:hover {
  background-color: #363FC3;
}

.main-list {
  text-align: left;
  width: 90%;
}

.main-list-item {
  text-align: left;
  font-family: Roboto;
  font-size: 2vh;
  list-style-type: none;
  margin-left: 5vw;
  width: 100%;
}

.main-icon {
  height: 4vh;
  float: left;
  margin-right: 3vh;
}

#backBttn {
  width: 100%;
  text-align: right;
  color: #3498DB;
  font-size: 3vh;
  cursor: pointer;
}
#backBttn p {
  display: inline;
  margin-right: 10vw;
  font-family: RussoOne;
}
#backBttn p:hover {
  color: #363FC3;
}

#app-footer {
  width: 93vw;
  height: 10vh;
  text-align: right;
  padding-right: 5vw;
  line-height: 10vh;
  color: #3498DB;
  font-family: MarckScript;
  font-size: 6vh;
  position: relative;
}

@keyframes animateToRight {
  from {
    left: 0;
  }
  to {
    left: 6vh;
  }
}
@keyframes animateToLeft {
  from {
    left: 6vh;
  }
  to {
    left: 0;
  }
}
#lang-button {
  height: 6vh;
  width: 12vh;
  background-color: lightgray;
  border-radius: 3vh;
  position: absolute;
  left: 3vw;
  top: calc(50% - 3vh);
}

#lang-button__en, #lang-button__ru {
  text-align: center;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  color: #000;
  font-size: 2vh;
  line-height: 6vh;
  position: absolute;
}

#lang-button__sheet {
  height: 6vh;
  width: 6vh;
  background-color: blue;
  opacity: 0.5;
  border-radius: 3vh;
  position: absolute;
}

.lang-button__sheet_en {
  left: 0;
  animation: 1s linear animateToLeft;
}

.lang-button__sheet_ru {
  left: 6vh;
  animation: 1s linear animateToRight;
}

#lang-button__en {
  left: 0;
  cursor: pointer;
}

#lang-button__ru {
  right: 0;
  cursor: pointer;
}

#app {
  width: 98vw;
  min-height: 98vh;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: url("img/app-back.png");
  background-size: 100% 153px;
  background-repeat: repeat-y;
}

/*# sourceMappingURL=style.css.map */
